/* Area do Desktop */
@media screen and (min-width: 1024px) {

    .title-into {
        height: 85px;
        display: inline;
        color: #0F5972;
        width: 350px;
        font-size: 32px;
    }
    #aprensetacao-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #introducao {
        height: 325px;
    }
    #title-project-two {
        display: none;
    }
    #lista-menus {
        display: flex;
    }
    #sessao-about-me, #sessao-skills {
        height: 70%;
    }
}

/* Area para Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    header {
        height: 100px;
    }

    #div-header-img > img{
        width: 60px;
    }

    #lista-menus, #titulo-project, #bars-close{
        display: none;
    }
    #bars, #bars-close{
        display: block;
        font-size: 40px;
        color: #0F5972;
        cursor: pointer;
        padding: 10px;
    }
    #bars-close {
        display: none;
        color: #cbdadf;
    }
    #img-perfil {
        z-index: 0;
    }
    #lista-menus > li > a{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #fff;
    }
    #icon-btn-menu {
        position: fixed;
        z-index: 2;
        right: 0;
        display: block;
    } 
    #bars:hover, #bars-close:hover{
        color: #cbdadf;
    }
    #bars:active, #bars-close:active{
        color: #7d7d7d;
    }
    @keyframes animacao-menu {

        /* Estado inicial */
        from {
            left: 100%;
        }

        /* Estado final */
        to {
            left: 0%;
        }
    }
    @keyframes fechar-menu {

        /* Estado inicial */
        from {
            left: 0%;
        }

        /* Estado final */
        to {
            left: 100%;
        }
    }
    #lista-menus {
        z-index: 1;
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0%;
        left: 100%;
        background-color: #0F5972;
        height: 600px;
        width: 100%;
    }

    #barra-navegacao {
        overflow-x: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        padding: 0px 20px;
    }
    #introducao {
        margin-top: 6em;
    }

    #icon-arrows {
        display: none;
    }
    #div-cards {
        flex-direction: column;
        margin: 0;
        padding-bottom: 0;

    }
    .card {
        margin-top: 2em;
        min-width: 350px;
    }
    #lista-menus, #titulo-project{
        display: none;
    }
    
    #title-project-two {
        display: block;
        margin-top: 1.5em;
    }
    #section-project, #div-cards {
        padding: 0;
    }
}
/* Area do Dispostivo moveis */
@media screen and (max-width: 767px) {


    #lista-menus, #titulo-project, #bars-close{
        display: none;
    }
    #icon-btn-menu {
        position: fixed;
        z-index: 2;
        right: 10px;
        display: block;
    } 
    
    #bars, #bars-close{
        font-size: 40px;
        color: #cacccd;
        cursor: pointer;
    }
    #bars {
        display: block;
        color: #0F5972;
    }
    #bars:hover, #bars-close:hover{
        color: #cbdadf;
    }
   
    @keyframes animacao-menu {

        /* Estado inicial */
        from {
            left: 100%;
        }

        /* Estado final */
        to {
            left: 0%;
        }
    }
    @keyframes fechar-menu {

        /* Estado inicial */
        from {
            left: 0%;
        }

        /* Estado final */
        to {
            left: 100%;
        }
    }
    #lista-menus {
        z-index: 1;
        display: none;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0%;
        left: 100%;
        background-color: #0F5972;
        height: 600px;
        width: 100%;
    }
    #img-perfil {
        z-index: 0;
    }
    #lista-menus > li > a{
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        color: #fff;
    }

    #barra-navegacao {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        padding: 0px 20px;
    }
    #title-project-two {
        display: block;
    }
    #section-project, #div-cards {
        padding: 0;
        margin: 0;
    }
    #area-botoes {
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    #area-botoes > button {
        width: 150px;
        margin-top: 15px;
        margin-left: 0;
    }
    #div-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #div-list > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: center;
        margin-bottom: 3em;
    }
    #section-project {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #div-cards {
        flex-direction: column;
        padding: 5em;
    }
    #titulo-project {
        padding-left: 4em;
    }

    /* Sessçaõ para Contato */
    #section-contact {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
        padding: 50px 50px;
    }
    #conteudo-contact {
        display: block;
        margin-top: 15px;
    }
    
    #div-img-citacao {
        margin-top: 3em;
        width: 100%;
    }
    #div-img-citacao > img {
        width: 300px;
    }
    .card {
        margin-top: 5em;
        min-width: 300px;
    }
    .title-into {
        height: 150px;
        font-size: 28px;
        color: #0F5972;
        margin-bottom: 15px;
    }
    #icon-arrows {
        display: none;
    }
    /* Estilos para formulario */
    #menu-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #menu-footer > ul {
        margin-top: 20px;
        width: 100%;
    }

    #menu-footer > ul > li {
        color: #fff;
        cursor: pointer;
        padding-top: 10px;
    }
    section {
        width: 100%;
    }
    #introducao {
        padding: 2em;
        margin: 0 15px;
        float: left;
        margin-top: 6em;
    }
    #aprensetacao-header {
        padding: 10px;
        width: 50%;
        /* min-width: 150px; */
    }
    #aprensetacao-header > p {
        margin-top: 16px;
    }
    #div-header-img > img{
        width: 100%;
        height: 400px;
    }

    /* Sessão de certificados */
    #sessao-certificados {
        background-color: #04283f;
    }
    .slider {
        display: flex;
        justify-content: flex-start;
    }

    .slides {
        width: 100%;
        height: 150px;
    }
    .slide {
        width: 100%;
    }
    .slide img {
        height: 450px;
        border-radius: 15px;
    }
    .manual-navigation {
        display: none;
    }
    .navigation-auto {
        display: none;
    }
    header {
        height: 85px;
    }
    
}