* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Kumbh Sans", sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

#barra-navegacao {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
#icon-btn-menu {
    display: none;

}
#logo {
    font-size: 20px;
    cursor: pointer;
}
#lista-menus {
    display: flex;
}
#lista-menus > li {
   
    padding: 15px;
    text-transform: uppercase;
    cursor: pointer;
}
#lista-menus > li > a {
    color: #0F5972;
    font-weight: 600;
}
#lista-menus > li > a:hover {
    color: #c2d2d8;
}
#introducao {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#aprensetacao-header {
    text-align: center;
    width: 40%; 
    min-width: 250px;
}
#div-header-img {
    display: flex;
}
#div-header-img > img{
    min-width: 250px;
}

#sessao-about-me {
    min-width: 400px;
    width: 100%;
    background-color: #cbdadf;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-perfil {
    z-index: 0;
    border-radius: 360px;
    height: 200px;
    width: 200px;
    border: 4px solid #0F5972;
    transform: scaleX(1.1);
    transform: scaleY(1.2);
}

#sessao-skills {
    background-color: #9EC5D2;
    width: 100%;
}
#div-list {
    display: flex;
    justify-content: space-around;
    padding: 3em 0em;
}
#div-list > div > ul {
    margin-top: 10px;
}
#section-project {
    background-color: #fff;
    padding: 50px 0px 50px 0px;
}

/* ========= Sessão de Cards =================== */
#div-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 3em;
    border-radius: 10px;
    min-width: 300px;
}
#campo-cards {
    background-color: #0F5972;
    padding-bottom: 15px;
    border-radius: 5px;
}
.card {
    margin: 2em;
    display: flex;
    flex-direction: column;
    width: 28%;
    border-radius: 10px;
    padding: 10px;
    background-color: #DCE4EC;
    box-shadow: #122c34 10px 10px;
}
.descricao-card {
    padding: 10px;
}
.menu-icones-ferramentas {
    display: flex;
    margin-top: 5px;
    align-items: center;
}
.menu-icones-ferramentas > li {
    margin-right: 10px;
    font-size: 19px;
}
.btn-view-project {
    background-color: #0F5972;
    padding: 10px;
    color: #DCE4EC;
    font-family: "Kumbh Sans", sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 19px;
    cursor: pointer;
}
.btn-view-project:hover {
    background-color: #143945;
}
#icon-arrows {
   
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 360px;
    font-size: 19px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
#icon-arrows > i {
    background-color: #fff;
    color: #0F5972;
    height: 40px;
    width: 40px;
    border-radius: 360px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
}
#icon-arrows > i:hover {
    background-color: #97afb7;
}
.icon-desable {
    background-color: #042d3b !important;
}
.img-card {
    display: flex;
    justify-content: center;
}
.img-card > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 180px;
}

/* ============= Sessão de Contatos  =============================*/
form {
    width: 100%;
}
#section-contact {
    background-color: #cbdadf;
    padding: 50px 0px;
}
#conteudo-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#texto {
    height: 200px;
    font-family: "Kumbh Sans", sans-serif;
    padding: 10px;
    font-size: 16px;
}
label {
    color: #0F5972;
    font-size: 18px;
    font-weight: 600;
}
.div-input {
    margin-top: 1.5em;
}
.input {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    background-color: #fff;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 10px;
    min-width: 250px;
}
#btn-enviar-form {
    background-color: #0F5972;
    margin: 15px 0px 0px 0px;
    color: #fff;
    width: 200px;
}
#div-img-citacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#div-img-citacao > img {
    width: 100%;
    min-width: 500px;
}
/* ========= Estilo do Rodapé ============== */
footer {
    background-color: #0F5972;
    padding: 2em 0em;
}
#menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-footer > ul > li {
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
}
#menu-footer > ul > li:hover {
    color: #d1d1d1;
}
#menu-footer > ul > li > a{
    color: #fff;
}
#copyright {
    color: #fff;
    text-align: center;
    margin-top: 4em;
}
/* =================== Configurando os botões ========================= */
#area-botoes {
    margin-top: 3em;
}
.btn {
    cursor: pointer;
    margin: 10px;
    width: 25%;
    font-size: 16px;
    line-height: -40px;
    height: 40px;
    color: none;
    padding: 10px;
    min-width: 200px;
    border-radius: 10px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 500;
    border: none;
}
.btn-linkedin {
    color: #0066C7;
    border: 2px solid #0066C7;
}
.btn-github {
    color: #171616;
    border: 2px solid #171616;
}
.btn-curriculo {
    background: #143945;
    color: #fff;
    border: 2px solid #E5EDF0;
}
/* Colocando os efeitos hover dos botões */
.btn-linkedin:hover {
    background: #0066C7;
    color: #E5EDF0;
    border: 2px solid #E5EDF0;
}
.btn-github:hover {
    background: #171616;
    color: #c2d2d8;
    border: 2px solid #E5EDF0;
}
.btn-curriculo:hover, #btn-enviar-form:hover {
    background: #122c34;
    color: #ffffff;
}
/* =============================================== */
.container {
    margin: 0 100px;
}
.border {
    border: 1px solid red;
}
.subtitulo {
    display: inline;
    color: #0F5972;
    width: 350px;
    font-size: 32px;
}
.cor-primaria {
    color: #0F5972;
}
.cor-secundaria {
    color: #E5EDF0;
}
.menu-list-skills > li {
    font-size: 16px;
    padding: 5px 0px;
}
.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s;
    transform: translateX(0);

}
section {
    width: 100%;
}